@font-face {
    font-family: 'horizon';
    src: url(fonte/horizon-font-betterstudio.com/Horizon.ttf);
 }

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #396499;
    --cor-de-fundo: #000;
    --fonte-principal: 'horizon';
}

img {
    border-radius: 15px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 400;
    color: var(--branco-principal);
}

a {
    color: var(--branco-principal);
    text-decoration: none;
}

h1, p {
    color: var(--branco-principal);
}

.principal {
    background-image: url(img/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.inicio {
    margin: 0 6em;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.titulo {
    font-size: 28px;
    font-weight: 700;
}

.img-inicio {
    margin: 1em 0 2em 0;
}

.botao-container {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    display: block;
    margin-bottom: 1em;
}

.botao-secundario-container {
    background-color: transparent;
    border: solid 2px var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    display: block;
    margin-bottom: 1em;
}

.container-descricao {
    padding: 2em;
}

.secundario-imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao-titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao-texto {
    color: var(--cinza-secundario);
}

.secundario-botao {
    display: inline-block;
    margin-top: 1em;
}

.dispositivos-lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0 0 -10em;
}

.dispositivos {
    text-align: center;
}

.dispositivos-titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista-item {
    font-size: 32px;
    color: var(--branco-principal);
}

.ps4 {
    width: 30%;
}
.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape-lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista-link a {
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape-texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.lista-link a:hover {
    color: var(--botao-azul);
}

.lista-link a:active {
    color: purple;
}

.botao-container:hover {
    background-color: #23446b;
}
/* Adicione essas regras de mídia no final do seu arquivo CSS */

@media only screen and (max-width: 600px) {
    body {
      font-size: 16px;
    }
    .container {
      display: flex;
      height: auto;
    }
    .principal {
        height: 100vh;
        background-position: center;
    }
    .inicio {
      margin: 0 2em;
    }
    .botao-container {
        width: 70%;
    }
    .botao-secundario-container {
        width: 70%;
    }
    .container_e {
        display: flex;
        flex-direction: column-reverse;
    }
    .container_d {
        display: flex;
        flex-direction: column;
    }
    .secundario {
      margin: 8em 0 8em 0;
    }
    img {
        margin: 2em 0 0 0;
    }
    .secundario-imagem {
      width: 100%;
    }
    .container-descricao {
      padding: 1em;
    }
    .dispositivos-titulo {
        font-size: 20px;
    }
    .dispositivos-lista {
      margin: 2em 0 2em 0;
      flex-direction: column;
    }
    .lista-item {
        font-size: 18px;
    }
    .rodape-logo {
        width: 80%;
    }
    .rodape {
      margin: 2em 1em;
    }
    
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
  }
  